.env
.env.local
.env*.local
!.env.example

node_modules/
.next/
out/
dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo
.next-dev.*.log
secret-crop.png
app-id-crop.png
